PORT=3000

# Supabase
SUPABASE_URL=https://<id_project>.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWT_SECRET=
SUPABASE_TOKEN=

# AI
ANTHROPIC_API_KEY=
VOYAGE_API_KEY=

FRONTEND_URL=http://localhost:5173

POSTGRESS_PASSWORD=
